DataGenie provides Customer Insights for the *$100+ MRR* customers at the click of a button.

Here are some insights you can ask:
 - Know your Customer (MRR, Upcoming Renewal, Account Information)
 - Product Usage and Adoption Information (Purchased, Provisioned, Active Users)
 - Understand the Opportunity and Support Ticket data associated with your customer.

Enter the Customer Name to get started!  e.g. "Walmart"

Know more about Data Genie - <https://docs.google.com/document/d/197sCqlUNLOXlDCeJ7XU0cfuMVWwRWySTO7bDVw_qjAw/edit|Read Me!!>
For any new insights or questions, please reach out to us on channel <https://zoom.us/launch/chat/v2/eyJzaWQiOiJkMzU3YjIwZTMxYzk0OTllOTI0NzdmMGRmMTIxMGMyZEBjb25mZXJlbmNlLnhtcHAuem9vbS51cyJ9|Ask DataGenie>

*Note:* Data is from Snowflake (Zoom Data warehouse) and is refreshed once a day.